body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name-color{
   color: #53bcdf;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 70%;
}
.Link-button{
    text-decoration: none;
    background-image:linear-gradient(rgb(255, 115, 0),rgb(100, 100, 253)) ;
    color: white;
    font-weight: 550;
    border-radius: 10px;
    padding: 10px 30px;
}
.banner-one{
    background-image: url(/Assets/images/top-banner.png);
    background-repeat: no-repeat;
}
.banner-two{
    background-image: url(/Assets/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}